<h3>Generated Form</h3>
<form [formGroup]="form" (submit)="onSubmit()" style="width: 90%;" *ngIf="form">
    <div class="form-group" *ngFor="let item of formData">
        <ng-container [ngSwitch]="item.type">
            <span *ngSwitchCase="'label'">{{item.value}}</span>
            <input *ngSwitchCase="'text'" type="text" class="form-control" formControlName="{{item.formControlName}}">
            <fieldset *ngSwitchCase="'radiobutton'" id="{{item.formControlName}}">
                <div *ngFor="let btn of item.items" class="row">
                    <input formControlName="{{item.formControlName}}" type="radio" value="{{btn.value}}"
                        name="{{item.formControlName}}" class="mr-1" style="margin-top: 7px;
                        margin-left: 15px;">
                    <span>{{btn.text}}</span>
                </div>
            </fieldset>
            <select *ngSwitchCase="'dropdown'" class="form-control" formControlName="{{item.formControlName}}">
                <option *ngFor="let option of item.items" value="{{option.value}}">{{option.text}}</option>
            </select>
            <div *ngSwitchCase="'checkbox'" class="row">
                <input formControlName="{{item.formControlName}}" type="checkbox" value="{{item.label}}"
                    name="{{item.formControlName}}" class="mr-1" style="margin-top: 7px;
                    margin-left: 15px;">
                <span>{{item.label}}</span>
            </div>
            <div style="display: flex;justify-content: space-around;">
                <input style="display: inline-flex;" type="submit" value="submit" class="btn btn-primary"
                    *ngSwitchCase="'submit'">
                <input style="display: inline-flex;" type="button" value="cancle" class="btn btn-default"
                    *ngSwitchCase="'cancle'" (click)="form.reset()">
            </div>
        </ng-container>
    </div>
</form>
<div *ngIf="showResultedObject">
    {{resultedObject}}
</div>